@model JLGApps.SignNow.ViewModels.FileLoaderViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en" ng-app="templateDatagrid">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title>JLG - JLG App Portal </title>
    <link rel="icon" type="image/x-icon" href="~/assets/img/favicon.ico" />
    <link href="~/assets/css/loader.css" rel="stylesheet" type="text/css" />



    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
    <link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/plugins.css" rel="stylesheet" type="text/css" />

    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM STYLES -->
    <!--  BEGIN CUSTOM STYLE FILE  -->



    <link rel="stylesheet" type="text/css" href="~/plugins/table/datatable/datatables.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/forms/theme-checkbox-radio.css">
    <link rel="stylesheet" type="text/css" href="~/plugins/table/datatable/dt-global_style.css">
    <link rel="stylesheet" type="text/css" href="~/plugins//table/datatable/custom_dt_custom.css">
    <link rel="stylesheet" type="text/css" href="~/plugins/bootstrap-select/bootstrap-select.min.css">
    <link href="~/summernote-0.8.18-dist/summernote-lite.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="~/plugins/animate/animate.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/scrollspyNav.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/components/custom-modal.css" rel="stylesheet" type="text/css" />
    <link href="~/plugins/loaders/custom-loader.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/tables/table-basic.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/elements/custom-pagination.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="assets/css/elements/alert.css">
    <link href="plugins/notification/snackbar/snackbar.min.css" rel="stylesheet" type="text/css" />
    <link href="~/misc/css/custom-selector.css" />
    <!--  END CUSTOM STYLE FILE  -->
    <!-- END PAGE LEVEL PLUGINS/CUSTOM STYLES -->
    <style>
   
    </style>
</head>
<body data-spy="scroll" data-target="#navSection" data-offset="100">
    <!-- BEGIN LOADER -->
    <div id="load_screen">
        <div class="loader">
            <div class="loader-content">
                <div class="spinner-grow align-self-center"></div>
            </div>
        </div>
    </div>
    <!--  END LOADER -->
    <!--  BEGIN NAVBAR  -->
    <div class="header-container fixed-top">
        <header class="header navbar navbar-expand-sm">

            <ul class="navbar-item theme-brand flex-row  text-center">
                <li class="nav-item theme-logo">
                    <a href="index.html">
                        <img src="~/assets/img/90x90.jpg" class="navbar-logo" alt="logo">
                    </a>
                </li>
                <li class="nav-item theme-text">
                    <a href="#" class="nav-link"> Johnson Law Group </a>
                </li>
            </ul>

            <ul class="navbar-item flex-row ml-md-auto">

                <li class="nav-item dropdown user-profile-dropdown">
                    <a href="javascript:void(0);" class="nav-link dropdown-toggle user" id="userProfileDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <img src="~/assets/img/90x90.jpg" alt="avatar">
                    </a>
                    <div class="dropdown-menu position-absolute" aria-labelledby="userProfileDropdown">
                        <div class="">
                            <div class="dropdown-item">
                                <a class="" href="user_profile.html"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg> My Profile</a>
                            </div>
                            <div class="dropdown-item">
                                <a class="" href="apps_mailbox.html"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-inbox"><polyline points="22 12 16 12 14 15 10 15 8 12 2 12"></polyline><path d="M5.45 5.11L2 12v6a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2v-6l-3.45-6.89A2 2 0 0 0 16.76 4H7.24a2 2 0 0 0-1.79 1.11z"></path></svg> Inbox</a>
                            </div>
                            <div class="dropdown-item">
                                <a class="" href="auth_lockscreen.html"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-lock"><rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect><path d="M7 11V7a5 5 0 0 1 10 0v4"></path></svg> Lock Screen</a>
                            </div>
                            <div class="dropdown-item">
                                <a class="" href="auth_login.html"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-log-out"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path><polyline points="16 17 21 12 16 7"></polyline><line x1="21" y1="12" x2="9" y2="12"></line></svg> Sign Out</a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </header>
    </div>
    <!--  END NAVBAR  -->
    <!--  BEGIN NAVBAR  -->
    <div class="sub-header-container">
        <header class="header navbar navbar-expand-sm">
            <a href="javascript:void(0);" class="sidebarCollapse" data-placement="bottom"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg></a>

            <ul class="navbar-nav flex-row">
                <li>
                    <div class="page-header">
                        <div class="page-title">
                            <h3>Tools</h3>
                        </div>
                    </div>
                </li>
            </ul>
        </header>
    </div>
    <!--  END NAVBAR  -->
    <!--  BEGIN MAIN CONTAINER  -->
    <div class="main-container" id="container">

        <div class="overlay"></div>
        <div class="search-overlay"></div>

        <!--  BEGIN SIDEBAR  -->
        <div class="sidebar-wrapper sidebar-theme">
            <nav id="sidebar">
                <div class="shadow-bottom"></div>
                <ul class="list-unstyled menu-categories" id="accordionExample">
                    <li class="menu">
                        <a href="javascript:void(0);" aria-expanded="false" class="dropdown-toggle">
                            <div class="">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                                <span>Dashboard</span>
                            </div>
                        </a>
                    </li>
                    <li class="menu">
                        <a href="#submenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                            <div class="">

                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
                                <span> Document Sign </span>
                            </div>
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                            </div>
                        </a>
                        <ul class="collapse submenu list-unstyled" id="submenu" data-parent="#accordionExample">
                            <li>
                                <a href="~/MassMailer/Index">Send Document Link</a>
                            </li>
                            <li>
                                <a href="~/Logs/Index">Email Logs</a>
                            </li>
                        </ul>
                    </li>

                    <li class="menu">
                        <a href="#submenu2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                            <div class="">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-airplay"><path d="M5 17H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-1"></path><polygon points="12 15 17 21 7 21 12 15"></polygon></svg>
                                <span>Batch Import</span>
                            </div>
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                            </div>
                        </a>
                        <ul class="collapse submenu list-unstyled" id="submenu2" data-parent="#accordionExample">
                            <li>
                                <a href="javascript:void(0);"> Update Data</a>
                            </li>
                            <li>
                                <a href="#sm2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"> Submenu 2 <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg> </a>
                                <ul class="collapse list-unstyled sub-submenu" id="sm2" data-parent="#submenu2">
                                    <li>
                                        <a href="javascript:void(0);"> Litigation </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);"> Checklist </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);"> Record Request </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);"> Cases </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);"> Management </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:void(0);"> Insert Data</a>
                            </li>
                            <li>
                                <a href="#sm2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"> Submenu 2 <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg> </a>
                                <ul class="collapse list-unstyled sub-submenu" id="sm2" data-parent="#submenu2">
                                    <li>
                                        <a href="javascript:void(0);"> Litigation </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);"> Checklist </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);"> Notes </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);"> Client Contact </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
        <!--  END SIDEBAR  -->
        <!--  BEGIN CONTENT PART  -->
        <div id="content" class="main-content">
            <div class="layout-px-spacing">
                <div class="container">
                    <div id="navSection" data-spy="affix" class="nav  sidenav">
                        <div class="sidenav-content">
                            <a href="#UserTemplateList" class="active nav-link">User Defined Templates</a>
                            <a href="#RecipientList" class="active nav-link">Import Recipient List</a>
                            <a href="#documentCreate" class="nav-link">Create Signer Link</a>
                            <a href="#Emailer" class="nav-link">Emailer</a>
                            <a href="#SMS" class="nav-link">Text Messenger</a>
                        </div>
                    </div>
                    <div ng-controller="templateController" class="container">
                        <div class="row layout-spacing">
                            <div class="col-lg-12">
                                <div id="UserTemplateList" class="statbox widget box box-shadow">
                                    <br />
                                    <div class="widget-header">
                                        <div class="row">
                                            <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                                <h3>User Defined Templates</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="templates" class="widget-content widget-content-area">
                                        <div class="table-responsive mb-4 style-1">
                                            <div class="search-input-group-style input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="basic-addon1"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg></span>
                                                </div>
                                                <input type="text" class="form-control" ng-model="search" placeholder="Template Search" aria-label="Username" aria-describedby="basic-addon1">
                                            </div>
                                            <br />
                                            <table class="table style-1 table-hover non-hover">
                                                <thead>
                                                    <tr>
                                                        <th>Template Id</th>
                                                        <th>Template Title</th>
                                                        <th>Category</th>
                                                        <th>Docket</th>
                                                        <th>Date Created</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="row in rows.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))|filter:search">
                                                        <td>{{ row.TemplateId }}</td>
                                                        <td>{{ row.TemplateName }}</td>
                                                        <td>{{ row.Category }}</td>
                                                        <td>{{ row.Docket }}</td>
                                                        <td>{{ row.DateCreated | date: "yyyy-MM-dd"}}</td>

                                                        <td class="text-center">
                                                            <div class="dropdown custom-dropdown">
                                                                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg>
                                                                </a>

                                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink1">
                                                                    <a class="dropdown-item" href="javascript:void(0);" ng-click="update(row)">Update Template</a>
                                                                    <a class="dropdown-item" href="javascript:void(0);" ng-click="templateLoader(row)">Load Template</a>
                                                                    <a class="dropdown-item" href="javascript:void(0);" ng-click="delete(row)">Delete Template</a>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>

                                                </tbody>


                                            </table>
                                            <div class="paginating-container pagination-solid">
                                                <ul class="pagination">
                                                    <li>
                                                        <pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" items-per-page="itemsPerPage"></pagination>
                                                    </li>
                                                </ul>
                                            </div>
                                            <select id="pageCount" ng-model="viewby" ng-change="setItemsPerPage(viewby)" class="selectpicker mb-4" data-width="fit">
                                                <option value="5" selected>5</option>
                                                <option>10</option>
                                                <option>20</option>
                                                <option>30</option>
                                                <option>40</option>
                                                <option>50</option>
                                                <option>100</option>
                                                <option>200</option>
                                            </select>
                                        </div>

                                        <button class="mr-2 btn btn-primary message" data-toggle="modal" data-target="#addTemplateModal">Create Template</button>


                                        <!-- Modal Add New Template-->

                                        <div class="modal fade text-left" id="addTemplateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content" id="modal-reload">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="Create">New Template</h5>
                                                        <button type="button" modal="ng" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                      
                                                            <div class="form-group">
                                                                <label for="Template Title">Template Title</label>
                                                                <input type="text" ng-model="template.TemplateName" class="form-control" aria-describedby="emailHelp" placeholder="Enter document title" required>

                                                            </div>
                                                            <div class="form-group">
                                                                <label for="Category">Template Category</label>
                                                                <input type="text" ng-model="template.Category" class="form-control" placeholder="Enter category" required>
                                                            </div>
                                                            <div class="form-check pl-0">

                                                                <div class="form-group">
                                                                    <label for="Case Type">Docket</label>
                                                                    <input type="text" ng-model="template.Docket" class="form-control" aria-describedby="emailHelp" placeholder="Enter docket" required>

                                                                </div>

                                                            </div>
                                                       
                                                        <div id="alertNewTemplate" class="alert alert-icon-left alert-light-success mb-4" role="alert">
                                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                                <svg xmlns="http://www.w3.org/2000/svg" data-dismiss="alert" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x close"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                                                            </button>
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-alert-triangle"><path d="M10.29 3.86L1.82 18a2 2 0 0 0 1.71 3h16.94a2 2 0 0 0 1.71-3L13.71 3.86a2 2 0 0 0-3.42 0z"></path><line x1="12" y1="9" x2="12" y2="13"></line><line x1="12" y1="17" x2="12" y2="17"></line></svg>
                                                            <strong>Success!</strong> New Template has been added.
                                                        </div>

                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn" data-dismiss="modal">Close</button>
                                                        <button id="save" ng-click="add(template)" type="submit" class="btn btn-primary">Save</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="row layout-spacing">
                            <div id="RecipientList" class="col-lg-12">
                                <div class="statbox widget box box-shadow">
                                    <form name="form">
                                        <div class="widget-header">
                                            <br />
                                            <div class="row">
                                                <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                                    <h3>Recipient List</h3>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                                    <div class="form-group mb-4 mt-3">
                                                        <label for="xlsxFile">Excel File Upload (.xlsx)</label>

                                                        <div class="custom-file">

                                                            <input type="file" id="btnUploadedFile" value="{{excelFile}}" class="custom-file-input" accept=".xlsx" file-model="myFile" value="Import Excel Sheet">
                                                            <label id="fileName" class="custom-file-label" for="btnUploadedFile">Choose a excel file</label>
                                                            <input id="btnExcelFileUpload" type="submit" ng-click="uploadFile()" value="Import Excel Sheet" class="mt-4 mb-4 btn btn-primary">
                                                            <label id="fileAndPath">{{excelFile}}</label>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="search-input-group-style input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="basic-addon1"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg></span>
                                                </div>
                                                <input type="text" class="form-control" ng-model="search" placeholder="Template Search" aria-label="Username" aria-describedby="basic-addon1">
                                            </div>
                                            <div class="widget-content widget-content-area">
                                                <div class="table-responsive mb-4 style-1">

                                                    <table class="table style-1 table-hover non-hover">
                                                        <thead>
                                                            <tr ng-repeat="recipientRow in recipientListRows" ng-if="$index == 0">
                                                                <th ng-repeat="col in recipientRow.Columns">{{col.Column}}</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="recipientRow in recipientListRows.slice(((recipientCurrentPage-1)*recipientItemsPerPage), ((recipientCurrentPage)*recipientItemsPerPage))|filter:search" ng-if="$index > 0">
                                                                <td ng-repeat="col in recipientRow.Columns">{{col.Column}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <select id="pageCountRecipientList" ng-model="recpientViewBy" ng-change="recipientSetItemsPerPage(recpientViewBy)" class="selectpicker mb-4" data-width="fit">
                                                <option value="5" selected>5</option>
                                                <option>10</option>
                                                <option>25</option>
                                                <option>50</option>
                                                <option>75</option>
                                                <option>100</option>
                                                <option>250</option>
                                                <option>500</option>
                                                <option>1000</option>
                                                <option>1500</option>
                                                <option>All</option>
                                            </select>
                                        </div>
                                    </form>
                                </div>
                              
                            </div>
                        </div>
                        <div id="documentCreate" class="col-lg-12">
                            <div class="statbox widget box box-shadow">
                                <div class="widget-header">
                                    <div class="row">
                                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                            <div style="padding:10px"> <h3>Document Create</h3></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="widget-content widget-content-area">
                                  
                                        <div class="table-responsive">
                                            <table class="table mb-4 contextual-table">
                                                <thead>
                                                    <tr>
                                                        <th>Template Folder</th>

                                                        <th>Case Number</th>
                                                        <th></th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="table-default">
                                                        <td>                                                         
                                                            <select  class="form-control"  style="width:250px;" ng-options="col1.team_name for col1 in FoldersTemplates" ng-model="selectedFolder">
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <select size="1" id="casenumMergeHeader"  class="form-control" style="width:250px;" ng-model="casenum" >
                                                                <option >NONE</option>
                                                                <option  ng-repeat="col2 in excelHeaderListRows">{{col2.Column}}</option>
                                                             </select>
                                                        </td>
                                                        <td>
                                                            <input id="loadTemplates" type="submit" value="Load Templates" class="btn btn-primary" ng-click="loadVendorTemplates()" style="float:left">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                    </tr>
                                                </tbody>
                                            </table>                                           
                                        </div>
                                    <br />
                                    <div class="table-responsive mb-4 style-1">
                                        <table  class="table style-1 table-hover non-hover">
                                            <thead>
                                                <tr>
                                                    <th class="checkbox-column" style="display:none;"> Template ID </th>
                                                    <th>Template Name</th>
                                                    <th>Template Folder</th>
                                                    <th style="text-align: center;">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="templateRow in templateRows">
                                                    <td>
                                                        {{templateRow.templateName}}
                                                    </td>

                                                    <td>
                                                        {{templateRow.folderName}}
                                                    </td>
                                                    
                                                    <td class="text-center">
                                                        <button id="btnCreateDocument" type="submit" class="btn btn-primary" ng-click="createDocument(templateRow)">Create Document</button>
                                                    </td>
                                                </tr>                                              
                                            </tbody>
                                        </table>                                  
                                        <div class="progress br-30">
                                            <div id="progress" class="progress-bar bg-info" role="progressbar" style="width: 0%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">0%</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="Emailer" class="row layout-top-spacing">
                                <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
                                    <div class="col-lg-12 col-12 layout-spacing">
                                        <div class="statbox widget box box-shadow">
                                            <div class="widget-header">
                                                <div class="row">
                                                    <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                                        <div style="padding:10px;"><h3>Mass Emailer</h3></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="widget-content widget-content-area">
                                                <div class="form-group mb-4">
                                                    <div style="width:50%;margin-left:16%">

                                                        <div class="col-sm-12">
                                                            <label for="exampleFormControlInput2">Subject</label>

                                                            <input type="text" name="emailSubject" class="form-control" id="subject" value="@Model.EmailSubject" required>


                                                            <label for="exampleFormControlInput2">To Address</label>

                                                            <input type="text" name="emailRecipientAddress" class="form-control" id="recipientEmail" value="@Model.EmailRecipient" required>

                                                            <label for="exampleFormControlSelect1">From</label><br />

                                                            <select id="from" name="sender" class="custom-select" ng-model="selectedMailbox">
                                                                <option ng-repeat="mailbox in mailboxes">{{mailbox}}</option>
                                                            </select>
                                                            <input type="hidden" id="selected_EmailSender" value="@Model.EmailSender" />
                                                        </div>
                                                    </div>
                                                    <br />
                                                    <div class="container-fluid">
                                                        <div>
                                                            <div class="row">
                                                                <div class="container">
                                                                    <div class="row">
                                                                        <div class="col-lg-12 nopadding">
                                                                            <textarea id="@Html.IdFor(p => p.EmailBody)" name="@Html.IdFor(p => p.EmailBody)" hidden class="emailBodyTextVerbage"></textarea>
                                                                            <div id="summernote" class="form-control summernote">@Html.Raw(Model.EmailBody)</div>
                                                                            <input type="hidden" name="emailBody" id="sendEmail_EmailBody" />
                                                                        </div>
                                                                    </div>
                                                                   
                                                                    <div class="row" >
                                                                        <div class="col-lg-12 nopadding">                                                                         
                                                                           <textarea style="border:none;width:950px;resize:none;">{{excelHeaders}}</textarea>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div style="margin-left:2%">
                                                                <input type="submit" name="time" id="btnSendEmail" value="Send Email" class="mt-4 mb-4 btn btn-primary">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="progress br-30">
                                                    <div id="emailProgress" class="progress-bar bg-info" role="progressbar" style="width: 0%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">0%</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 col-12 layout-spacing">
                                <div class="statbox widget box box-shadow">
                                    <div class="widget-header">
                                        <div class="row">
                                            <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                                <div style="padding:10px;"><h3>SMS</h3></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="SMS" class="widget-content widget-content-area">
                                        <div class="form-group mb-4">
                                            <label for="exampleFormControlTextarea1">Message Body</label>
                                            <textarea id="smsBody" class="form-control" form="emailer" name="txtMessage" rows="3">@Model.SMSBody</textarea>
                                        </div>
                                        <div>
                                            <textarea style="border:none;width:950px;resize:none;">{{excelHeaders}}</textarea>

                                        </div>
                                        <div class="input-group mb-4">
                                            <input id="smsRecipient" type="text" class="form-control" form="emailer" name="txtRecipient" value="@Model.SMSRecipient" placeholder="Recipient" aria-label="Recipient's username">

                                            <div class="input-group-append">
                                                <button id="btnSendSms" class="btn btn-primary" type="button">Send SMS</button>
                                            </div>

                                        </div>
                                        <div class="progress br-30">
                                            <div id="smsProgress" class="progress-bar bg-info" role="progressbar" style="width: 0%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">0%</div>
                                        </div>

                                        <br />

                                    </div>
                                </div>
                            </div>

                            <div class="footer-wrapper">
                                <div class="footer-section f-section-1">
                                    <p class="">Copyright © 2020 <a target="_blank" href="https://johnsonlawgroup.com">Johnson Law Group</a>, All rights reserved.</p>
                                </div>
                            </div>
                        </div>
                        <div id="zoomupModal" class="modal animated zoomInUp custo-zoomInUp" role="dialog">
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Notification</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p class="modal-text">@ViewBag.MessageAlert</p>
                                    </div>
                                    <div class="modal-footer md-button">
                                        <button class="btn" data-dismiss="modal"><i class="flaticon-cancel-12"></i>Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--  END CONTENT PART  -->
        </div>
    </div>
    <!-- END MAIN CONTAINER -->
    <!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
    <script src="~/angular/angular.min.js"></script>
    <script src="~/angular/app.js"></script>
    <script src="~/assets/js/libs/jquery-3.1.1.min.js"></script>
    <script src="~/bootstrap/js/popper.min.js"></script>
    <script src="~/bootstrap/js/bootstrap.min.js"></script>


    <script src="~/assets/js/loader.js"></script>

    <script>
        $(document).ready(function () {
            App.init();
        });
    </script>

    <script src="~/plugins/highlight/highlight.pack.js"></script>
    <script src="~/assets/js/custom.js"></script>
    <script src="~/assets/js/scrollspyNav.js"></script>

    <!-- END GLOBAL MANDATORY SCRIPTS -->
    <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->

    <script src="~/plugins/bootstrap-select/bootstrap-select.min.js"></script>
    <script src="~/summernote-0.8.18-dist/summernote-lite.js"></script>

    <script src="~/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="~/assets/js/app.js"></script>

    <script src="~/plugins/table/datatable/datatables.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-summernote/0.8.1/angular-summernote.min.js"></script>

    <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>

    <script src="plugins/notification/snackbar/snackbar.min.js"></script>

    <script src="assets/js/components/notification/custom-snackbar.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/12.2.13/ng-file-upload.min.js"></script>
  





    <script type="text/javascript">


        $(document).ready(function () {

            $('.summernote').on('summernote.init', function () {
                $('textarea.emailBodyTextVerbage').html($('.summernote').summernote("code"))
            }).on("summernote.blur", function () {
                $('textarea.emailBodyTextVerbage').html($('.summernote').summernote("code"))
            }).summernote({
                height: 500,
                spellCheck: true,
                toolbar: [['style', ['style']],
                    ['font', ['bold', 'underline', 'clear']],
                    ['fontname', ['fontname']],
                    ['color', ['color']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['table', ['table']],
                    ['insert', ['link', 'picture', 'video']],
                    ['view', [ 'codeview']]],
            });

            $('#summernote').summernote('reset');
            document.getElementById("pageCount").selectedIndex = "5";
            document.getElementById("alertNewTemplate").style.display = 'none';

            document.getElementById('btnExcelFileUpload').style.display = 'block';



            var message ='@(ViewBag.MessageExist)';
            if (message == 'False') {
                $("#zoomupModal").hide();
            } else if (message == 'True') {
                $("#zoomupModal").show();

            }
        });
    </script>


   




    <script>
        $("#btnSendEmail").click(function () {
            var isEmailed = false;
            const  emptyEmailBody = "<p><br></p>";
            var emailBody = document.getElementById('@Html.IdFor(p => p.EmailBody)');

            if (emailBody.innerText != emptyEmailBody) {
                var editorContent = $('#summernote').summernote('code');
                document.getElementById('sendEmail_EmailBody').value = editorContent;
                var subject = $('#subject').val();
                var sender = $('#from').val();
                var recipient = $('#recipientEmail').val();
                var xlsxFileAndPath = $('#fileAndPath').text();
                var smsBody = $('#smsBody').val();
                var smsRecipient = $('#smsRecipient').val();



                var emailParameters = { "xslxFile": xlsxFileAndPath, "emailBody": emailBody.value , "emailSubject": subject, "emailSender": sender, "emailRecipientAddress": recipient, "txtMessage": smsBody, "txtRecipient": smsRecipient };
                document.getElementById('btnSendEmail').disabled = true;
                startUpdatingEmailProgressIndicator();

                 $.ajax({
                        type: 'post',
                        contentType: 'application/json',
                        url: '@Url.Action("SendEmail", "MassMailer")',
                     data: JSON.stringify(emailParameters),
                     success: function (result) {
                         stopUpdatingEmailProgressIndicator();
                         document.getElementById('btnSendEmail').disabled = false;
                         isEmailed=true
                        }

                    });
            }
        });
        var intervalId;

        function startUpdatingEmailProgressIndicator() {
            $("#emailProgress").show();

            intervalId = setInterval(
                function () {
                    // We use the POST requests here to avoid caching problems (we could use the GET requests and disable the cache instead)
                    $.post(
                         '@Url.Action("Progress", "MassMailer")',
                        function (progress) {

                            $("#emailProgress").css({ width: progress + "%" });
                            $("#emailProgress").html(progress + "%");
                        }
                    );
                },
                10
            );
        }

        function stopUpdatingEmailProgressIndicator() {
            clearInterval(intervalId);
        }

        $('.btn').click(function () {
            $("#zoomupModal").hide();
        });
    </script>

    <script>

        $('#btnSendSms').click(function () {

            var phoneNumbers = $('#smsRecipient').val();
            var smsBody = $('#smsBody').val();
            var xlsxFileAndPath = $('#fileAndPath').text();

            var data = { "smsBody": smsBody, "recipient": phoneNumbers, "excelFilePath": xlsxFileAndPath };
            startUpdatingSMSProgressIndicator();
            $.ajax({
                type: 'post',
                contentType: 'application/json',
                datatype: "json",
                url: '@Url.Action("SendSMS", "MassMailer")',
                data: JSON.stringify(data),
                success: function (result) {
                    stopUpdatingSMSProgressIndicator();
                }
            });

        });

        var intervalId;

        function startUpdatingSMSProgressIndicator() {
            $("#smsProgress").show();

            intervalId = setInterval(
                function () {
                    // We use the POST requests here to avoid caching problems (we could use the GET requests and disable the cache instead)
                    $.post(
                        '@Url.Action("Progress", "MassMailer")',
                        function (progress) {

                            $("#smsProgress").css({ width: progress + "%" });
                            $("#smsProgress").html(progress + "%");
                        }
                    );
                },
                10
            );
        }

        function stopUpdatingSMSProgressIndicator() {
            clearInterval(intervalId);
        }
    </script>





    <!-- END PAGE LEVEL SCRIPTS -->
    <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
</body>
</html>